<div class="login-container">
    <h2>Login Page</h2>
    <form (ngSubmit)="login()">
        <div class="form-container">
            <label for="email">Email</label> <!-- Change label to Email -->
            <input type="email" id="email" name="email" [(ngModel)]="email"> <!-- Change input type to email and bind to email property -->
        </div>
        <div class="form-container">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" [(ngModel)]="password">
        </div>
        <button type="submit" router-link="/management">Login</button>
    </form>
</div>
